@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-header h2 {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

footer, .description {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.description span span, .photos figure, .content-header span {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "gotham black";
  src: url("../fonts/gothemblack/subset-Gotham-Black.eot");
  src: url("../fonts/gothemblack/subset-Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gothemblack/subset-Gotham-Black.woff2") format("woff2"), url("../fonts/gothemblack/subset-Gotham-Black.woff") format("woff"), url("../fonts/gothemblack/subset-Gotham-Black.ttf") format("truetype"), url("../fonts/gothemblack/subset-Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 500;
  font-style: normal;
}
.slider-content > span {
  font-family: "gotham black", sans-serif;
  font-weight: 100;
}

.slider-header > span {
  font-family: "gotham black", sans-serif;
  font-weight: 700;
}

.slider-title, .nav-links {
  font-family: "gotham black", sans-serif;
  font-weight: 900;
}

.slider-content-buttons li a {
  font-family: "Open Sans", sans-serif;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.nav-menu {
  display: inline-block;
  width: 140px;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  position: relative;
}
.nav-menu a {
  display: inline-block;
  border: 1px solid #9884aa;
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
  padding: 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-links {
  display: inline-block;
}
.nav-links:hover {
  box-shadow: 0px 3px 0px #4c2f65;
  background-color: #f7df59;
  color: #ffffff;
}
.nav-links:active:after {
  box-shadow: 2px 3px 0px -1px #4c2f65, 3px 2px 0px -1px #4c2f65;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #f7df59;
  position: absolute;
  top: calc(100% - 10px);
  left: calc(50% - 8px);
  transform: rotate(45deg);
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  margin-top: 60px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  position: relative;
  background-color: transparent;
  margin-left: 30px;
}
.slick-dots li button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 0;
  margin-right: 2px;
  position: relative;
  outline: 0;
  border: 0;
  cursor: pointer;
}
.slick-dots li button:active {
  border: 1px solid #443255;
  background-color: transparent;
  outline: 0;
}
.slick-dots li button:active::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #443255;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}

.slider-header {
  color: #ffffff;
}
.slider-header > span {
  word-spacing: 7px;
  letter-spacing: 0px;
  left: 5px;
  font-size: 34px;
}
.slider-header::after {
  content: "";
  display: block;
  margin-top: 46px;
  width: 100%;
  height: 2px;
  background-color: #9884aa;
}

.slider-title {
  font-size: 112px;
  word-spacing: -9px;
  letter-spacing: -6px;
}
.slider-title span {
  color: #ead7fb;
}

.slider-content {
  margin-top: 56px;
  text-align: center;
}
.slider-content > span {
  display: block;
  font-size: 28px;
  color: #ffffff;
}

.slider-content-links {
  margin-top: 60px;
}
.slider-content-links li {
  display: inline-block;
  position: relative;
}
.slider-content-links li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 2px;
  position: relative;
}
.slider-content-links li a:active {
  border: 1px solid #443255;
  background-color: transparent;
}
.slider-content-links li a:active::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #443255;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}

.slider-content-buttons {
  text-align: center;
}

.slider-content-buttons {
  margin-top: 50px;
}
.slider-content-buttons li {
  display: inline-block;
  width: 140px;
  text-align: center;
  font-size: 18px;
  color: #fefefe;
}
.slider-content-buttons li a {
  display: inline-block;
  border: 1px solid #9884aa;
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
  padding: 20px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.slider-content-buttons li:last-child {
  margin-left: 5px;
}
.slider-content-buttons li a:hover {
  box-shadow: 0px 3px 0px #4c2f65;
  background-color: #69c7e2;
}

.sl2 .slider-header {
  color: #f34 !important;
}

.sl3 .slider-header {
  color: #33f !important;
}

.sl4 .slider-header {
  color: #3f3 !important;
}

.burger > nav {
  display: none;
}

.wrapper {
  background-image: url("../img/bg.jpg");
  padding-bottom: 100px;
}

.bgup {
  background-image: url("../img/bgup.jpg");
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 112px;
  position: relative;
}

.slider {
  padding-bottom: 96px;
  position: relative;
}
.slider:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/bgup.jpg");
  position: absolute;
  top: calc(100% - 15px);
  left: calc(50% - 15px);
  transform: rotate(45deg);
}

.content-header {
  padding-top: 80px;
  text-align: center;
}
.content-header h2 {
  font-size: 60px;
  color: #654d7b;
}
.content-header span {
  font-size: 30px;
  color: #ffffff;
}

.photos {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.photos figure {
  border-bottom: 3px solid #d1d1d1;
  position: relative;
  width: 340px;
  height: 310px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  text-align: center;
  color: #6b5181;
  border-radius: 4px;
}
.photos figure:before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #dcdcdc;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  box-shadow: 0 3px 0 #d1d1d1;
}
.photos figure img {
  display: inline-block;
  padding: 20px;
}

.description {
  border-bottom: 3px solid #d1d1d1;
  position: relative;
  margin-top: 80px;
  background-color: #ffffff;
  font-size: 13px;
  padding: 35px 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: #6d5384;
}
.description:before {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #dcdcdc;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  box-shadow: 0 3px 0 #d1d1d1;
}
.line-bag-ruby {
  margin-top: 65px;
  height: 2px;
  width: 100%;
  background-color: #6d5384;
}

footer {
  margin-top: 50px;
  font-size: 14px;
}
footer span {
  display: block;
  float: left;
}
footer span + span {
  float: right;
}

.burger {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.burger .lines {
  height: 4px;
  width: 70%;
  margin-top: 5px;
  background-color: #6b5181;
  border-radius: 3px;
}
.burger .lines:first-child {
  margin-top: 0;
}
.burger:active > nav {
  display: block;
  width: 100%;
  position: absolute;
  background-image: url("../img/bgup.jpg");
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.burger:active > nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.burger:active > nav ul li {
  width: 50% px;
  font-size: 10px;
}

.burger {
  display: none;
}

nav {
  display: block;
}

@media screen and (max-width: 768px) {
  .burger {
    display: none;
  }

  nav {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .burger {
    display: flex;
  }

  nav {
    display: none;
  }

  .logo img {
    width: calc(100% - 70px);
  }

  .slider-header {
    text-align: center;
  }

  .slider-title {
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 33px;
    margin: 0;
    margin-bottom: 20px;
  }
  .slider-title > span {
    display: block;
  }
  .slider-title + span {
    font-size: 17px;
  }

  .content-header h2 {
    font-size: 30px;
  }
  .content-header span {
    font-size: 17px;
  }

  .slider-content span {
    font-size: 17px;
  }

  .content-header h2 {
    font-size: 30px;
  }
  .content-header span {
    font-size: 17px;
  }

  .slider-content-buttons li {
    margin-top: 15px;
    width: calc(50% - 17px);
  }
  .slider-content-buttons li a {
    font-size: 14px;
    padding: 15px 0;
  }

  .photos {
    display: block;
  }
  .photos figure {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .photos figure img {
    display: block;
    width: 100%;
  }

  .description {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
  }
  .description br {
    display: none;
  }

  footer {
    text-align: center;
    font-size: 12px;
  }
  footer span {
    float: none;
  }
  footer span + span {
    float: none;
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px) {
  .burger {
    display: none;
  }

  nav {
    display: block;
  }

  .logo img {
    width: 100%;
  }

  .header-container {
    display: block;
  }
  .header-container ul {
    margin-top: 20px;
    padding: 0;
  }
  .header-container ul li {
    width: 100%;
    margin: 0;
    margin-top: 15px;
  }
  .header-container ul li a {
    font-size: 12px;
  }

  .slider-header {
    text-align: center;
  }

  .slider-title {
    word-spacing: 0;
    letter-spacing: 0;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
  }
  .slider-title > span {
    display: block;
  }
  .slider-title + span {
    font-size: 12px;
  }

  .slider-content span {
    font-size: 12px;
  }

  .content-header h2 {
    font-size: 21px;
  }
  .content-header span {
    font-size: 12px;
  }

  .slider-content-buttons li {
    margin-top: 15px;
    width: calc(50% - 17px);
  }
  .slider-content-buttons li a {
    font-size: 10px;
    padding: 10px 0;
  }

  .photos {
    display: block;
  }
  .photos figure {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .photos figure img {
    display: block;
    width: 100%;
  }

  .description {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
  }
  .description br {
    display: none;
  }

  footer {
    text-align: center;
    font-size: 12px;
  }
  footer span {
    float: none;
  }
  footer span + span {
    float: none;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
