@mixin shadow {
    box-shadow: 0px 3px 0px $clr-shadow;
}

@mixin circle($size:5px, $color:#000000) {
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: $color;
}

@mixin button {
    display: inline-block;
    width: 140px;
    text-align: center;
    font-size: 18px;

    a {
        display: inline-block;
        border: 1px solid $clr-border;
        border-radius: $bor-rad;
        width: 100%;
        color: $white;
        padding: 20px 0;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@mixin bottom {
    border-bottom: 3px solid $clr-bord-pic;
    position: relative;

    &:before {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: $clr-after-pic;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        box-shadow: 0 3px 0 $clr-bord-pic;
    }

}

// (on/off)if state equals ON nav-menu change to burger-menu and vice versa with OFF
@mixin burger($state) {
    @if($state==on) {
        .burger {
            display: flex;
        }

        nav {
            display: none;
        }
    }

    @else if($state==off) {
        .burger {
            display: none;
        }

        nav {
            display: block;
        }
    }

}

@mixin burger-menu {
    .burger {
        height: 50px;
        width: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        .lines {
            height: 4px;
            width: 70%;
            margin-top: 5px;
            background-color: $clr-font-pic;
            border-radius: 3px;

            &:first-child {
                margin-top: 0;
            }

        }

        &:active {

            &>nav {
                display: block;
                width: 100%;
                position: absolute;
                background-image: url("../img/bgup.jpg");
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 15px;

                    li {
                        width: 50%px;
                        font-size: 10px;
                    }
                }
            }
        }
    }

}