.slider-header {
    color: $white;

    &>span {
        @extend %ff-gotham-bold;
        word-spacing: 7px;
        letter-spacing: 0px;
        left: 5px;
        font-size: 34px;
    }

    &::after {
        content: "";
        display: block;
        margin-top: 46px;
        width: 100%;
        height: 2px;
        background-color: $clr-border;
    }
}

.slider-title {
    @extend %ff-gotham-black;
    font-size: 112px;
    word-spacing: -9px;
    letter-spacing: -6px;

    span {
        color: $clr-font-head;
    }
}

.slider-content-buttons {
    text-align: center;
}

.slider-content {
    margin-top: 56px;
    text-align: center;

    &>span {
        @extend %ff-gotham-thin;
        display: block;
        font-size: 28px;
        color: $white;

    }
}

.slider-content-links {
    margin-top: 60px;

    li {
        display: inline-block;
        position: relative;

        a {
            @include circle(12px, $white);
            margin-right: 2px;
            position: relative;

            &:active {
                border: 1px solid $clr-slider-links;
                background-color: transparent;
            }

            &:active::before {
                content: "";
                @include circle(8px, $clr-slider-links);
                position: absolute;
                top: calc(50% - 4px);
                left: calc(50% - 4px);
            }
        }
    }
}

.slider-content-buttons {
    margin-top: 50px;

    li {
        @include button;
        color: $clr-link;

        &:last-child {
            margin-left: 5px;
        }

        a {
            @extend %ff-opensans-extrabold;

            &:hover {
                @include shadow;
                background-color: $clr-hover-link;
            }
        }
    }

}


.sl2 .slider-header {
    color: #f34 !important;
}

.sl3 .slider-header {
    color: #33f !important;
}

.sl4 .slider-header {
    color: #3f3 !important;
}