$clr-tx-head: #555555;
$clr-hover:#f7df59;
$clr-border:#9884aa;
$clr-shadow:#4c2f65;
$white:#ffffff;
$bor-rad:4px;
$clr-font-head:#ead7fb;
$clr-link:#fefefe;
$clr-hover-link:#69c7e2;
$clr-slider-links:#443255;
$clr-cont-head:#654d7b;
$clr-font-pic:#6b5181;
$clr-bord-pic:#d1d1d1;
$clr-after-pic:#dcdcdc;
$clr-descr:#6d5384;